.genInfoSection{
    display: flex;
  
  padding: 25px 300px 15px 210px;
  height: 100%;
    
}
.genInfoSection img{
    width:80%;
    height:250px;
}
.genInfoSection p{
    height: 250px;
    padding: 10px;
    text-align:justify;
    padding: 15px;
    margin:  0;
    color: rgba(255, 255, 255,0.9);
    background-color: rgba(255, 255, 255, 0.25);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 22px;
}

@media only screen and (max-width: 1700px) {
    .genInfoSection {
            display: flex;
            padding: 50px 20px 50px 20px;
        }
        .genInfoSection img{
            width: 70%;
        }
}
@media only screen and (max-width: 1335px) {
    .genInfoSection {
        display: block;
        padding: 50px 20px 50px 20px;
    }

    .genInfoSection img {
        width: 100%;
    }
    .genInfoSection p {
            height: 200px;
        }
}